<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {%block title %} BIBLIOTECA DIGITAL {% endblock %} </title>
</head>
<body>
    <h1> Bienvenidos , esperemos disfrute su lectura </h1>
 
      {% block content%} 

      {% endblock %}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
      <p> Gracias por visitarnos, esperamos haberles sido util </p>
</body>
</html>